/*******************
 General Topbar
*******************/

.topbar {
  position: relative;
  z-index: 101;
  transition: $transitions;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
  background: $topbar;
  height: $topbar-height;

  .navbar-collapse {
    padding: 0 10px 0 0;
  }

  .top-navbar {
    min-height: $topbar-height;
    padding: 0;

    .dropdown-toggle::after {
      display: none;
    }

    .navbar-header {
      line-height: $topbar-navlink-height;

      .navbar-brand {
        display: flex;
        align-items: center;
        margin: 0;
        padding: $topbar-navbrand-padding;
        justify-content: space-between;

        .dark-logo {
          display: none;
        }

        .logo-icon {
          margin-right: 5px;
        }

        .sidebartoggler {
          color: $white;
        }
      }
    }

    .navbar-nav > .nav-item > .nav-link {
      padding: $topbar-navlink-padding;
      font-size: $topbar-navlink-font-size;
      line-height: $topbar-navlink-height;
      height: $topbar-navlink-height;
    }

    .navbar-nav > .nav-item {
      transition: 0.2s ease-in;

      &:hover {
        background: $transparent-dark-bg;
      }
    }
  }

  .user-dd {
    min-width: 280px;
  }

  .nav-toggler, .topbartoggler {
    color: $theme-light;
    padding: 0 15px;
  }
}

/*******************
Designed dropdown
******************/
.topbar {
  .dropdown-menu {
    padding-top: 0;
    border: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);

    .with-arrow {
      position: absolute;
      height: 10px;
      overflow: hidden;
      width: 40px;
      top: -10px;

      > span {
        @extend %rotate45;
        background-color: $white;
        width: 15px;
        height: 15px;
        top: 3px;
        left: 15px;
        position: absolute;
        content: "";
        -moz-border-radius: 6px 0 0 0;
        border-radius: 6px 0 0 0;
        /*box-shadow:-3px -3px 8px rgba(0, 0, 0, 0.1);    */
      }
    }

    &.dropdown-menu-right {
      .with-arrow {
        right: 0;

        > span {
          right: 20px;
          left: auto;
        }
      }
    }
  }
}

/*******************
Topbar Responsive
******************/

@media (max-width: 767px) {
  .topbar {
    .top-navbar {
      .navbar-collapse {
        &.show,
        &.collapsing {
          display: block;
          width: 100%;
          border-top: 1px solid $border-color;
        }
      }

      .navbar-nav {
        flex-direction: row;

        .dropdown {
          position: static;
        }
      }

      .navbar-header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }

      .dropdown-menu {
        position: absolute;
        width: 100%;

        .with-arrow {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .user-dd {
    .profile-dis {
      height: 110px;
    }
  }
}
